name: Generar Documentación y Despliegue

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Instalar generador de docs
        run: pip install pdoc

      - name: Generar HTML
        run: pdoc -o docs main.py

      - name: Generar Markdown
        run: pdoc --output-dir docs-md main.py

      - name: Subir Markdown como Artefacto
        uses: actions/upload-artifact@v4
        with:
          name: documentacion-markdown
          path: docs-md/

      - name: Desplegar en GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs